$primaryColor: #e0e0e0; 
$secondaryColor: #c7554b;
$accentColor: #3990c3;
$greyColor: #b0b0b0;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;